@charset "ISO-8859-1";

body {
	background-color:#f1f1f1;
}

.clearfix::after{
	content:'';
	display:block;
	clear:both;
}

.content  {
	width:90%;
	float:left;
	margin-left:160px;
	margin-right:40px;
}

.spacing {
	background-color:#0066CC;
	color:white;
	border:3px solid white;
	margin: 30px 137px 2px 140px;
	padding-top:20px;
	padding-bottom:85px;
	border-radius:15px;
	width:86%;
}

.spacing .button {
	background-color: #00CCFF;
 	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	margin-right:30px;
	cursor: pointer;
	border:2px solid white; 
	border-radius:15px;
    float: right;
    width:20%;
}

.spacing h1{
	font-family:"Times New Roman", Times, serif;
	margin-left:30px;
	float:left;
}


.author {
	font-size: 14px;
	
}

.calendar {
	background: #f89406 none repeat scroll 0 0;
	height:50px;
	position:relative;
	text-align:center;
	width:160px;
	padding:10px;
	color:white;
	float:right;
	border-radius:15px 50px;
	margin-right:10px;
	margin-top:10px;
}

.holder {
	box-shadow: 0px 5px 14px rgba(0,0,0,0.1);
	width:29%;
	height:20%;
	margin: 2px 50px 20px 2px;
	border-radius:15px;
	background-color:#00CCFF;
	position:relative;
	border:2px solid white;
}

.post{
	overflow: auto;
	box-shadow: 0px 5px 14px rgba(0,0,0,0.1);
	width:100%;
	height:100%;
	position:relative;
	word-wrap: break-word;
	border-radius:15px;
	border:2px solid white;
}

.holder .post .post-title{
	margin:15px auto 5px;
	color:gray;
	font-size:50px;
}

div.post-review{
	padding-left:20px;
	height:340px;
	margin-top:10px;
}

.post p{
	margin-top:30px;
	padding-left:5px;
}

.post button{
	color:white;
	float:right;
}

.post-head img{
	border-radius:50%;
	max-height:80px;
	max-width:90px;
	border:4px solid white;
	box-shadow:0px 5px 10px rgba(0,0,0,0.2);
	position:relative;
	object-fit:cover;
	background:white;
	margin-left:20px;
	margin-top:20px;
}

.fa-user {
	color:white;
	font-size:20px;
	margin-left:20px;
	margin-top:20px;
}

@media screen and (max-width:800px) {
	.spacing {
		margin-left:15%;
		width:70%;
	}
	
	.spacing .button {
		width:40%;
		margin-bottom:5%;
	}
	
	.content {
		margin-left:13%;
		margin-right:2%;
		width:80%;
	}
	
	.holder {
		margin-left:10px;
		width:100%;
	}
	
	.post{
		width:100%;
	}
}

.post-head button.author_btn {
	background-color:black;
	color:white;
	border-radius:15px;
	margin-top:18px;
	padding:5px 5px;
	margin-right:10px;
	font-size:10px;
}