@charset "ISO-8859-1";

body {
	background-color:#f1f1f1;
}

.clearfix::after{
	content:'';
	display:block;
	clear:both;
}

.content  {
	width:80%;
	float:left;
	margin-left:300px;
}

.button {
  background-color: powderblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.author {
	font-size: 14px;
	
}

.spacing {
	margin-left:2em
}

.calendar {
	background: #f89406 none repeat scroll 0 0;
	height:50px;
	position:relative;
	text-align:center;
	width:160px;
	padding:10px;
	color:white;
	float:right;
	border-radius:15px 50px;
	margin-right:10px;
}

.holder .post{
	overflow: auto;
	box-shadow: 0px 5px 14px rgba(0,0,0,0.1);
	width:680px;
	height:290px;
	margin: 30px 2px 20px 2px;
	border-radius:15px;
	background:white;
	position:relative;
	word-wrap: break-word;
	
}

.holder .post .post-title{
	margin:15px auto 5px;
	color:gray;
	font-size:50px;
}

.post .post-review{
	padding-left:20px;
}

.post p{
	margin-top:30px;
	padding-left:5px;
}
